<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<!-- //<?xml version="1.0" encoding="UTF-8"?> -->
<suite name="Retry Failed Test Suite">
<listeners>
<listener class-name="analyzer.MyTransformer"/>
</listeners>
<test name="Retry multiple failed test case">
<classes>

<class name="TESTNGBasic.RetryLogicTest"/>
</classes>
</test>
</suite>